name: lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PYTHONUTF8: 1

jobs:
  lint-python:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Set up python ${{ matrix.python-version }} (${{ matrix.os }})
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install cli tools
        run: |
          python -m pip install --upgrade pipx
          python -m pipx ensurepath
          pipx install uv phosphorus yamk
      - name: Create and activate a virtual environment (${{ matrix.os }})
        shell: bash
        if: ${{ runner.os != 'Windows' }}
        run: |
          uv venv .venv
          echo "VIRTUAL_ENV=.venv" >> $GITHUB_ENV
          echo "$PWD/.venv/bin" >> $GITHUB_PATH
      - name: Create and activate a virtual environment (${{ matrix.os }})
        shell: pwsh
        if: ${{ runner.os == 'Windows' }}
        run: |
          uv venv .venv
          "VIRTUAL_ENV=.venv" | Out-File -FilePath $env:GITHUB_ENV -Append
          "$PWD/.venv/Scripts" | Out-File -FilePath $env:GITHUB_PATH -Append
      - name: Install dependencies
        run: |
          yam install -g main -g lint -g test
      - name: Lint the project
        run: |
          yam -e lint
